.ant-layout {
  .ant-layout-content {

    .ant-pagination {
      display: flex;
      justify-content: center;
    }

    .ant-table-content {

      .ant-table-thead {

        .ant-table-cell {
          text-align: center;
          font-size: 16px;
          font-weight: 600;
        }
      }

      .ant-table-tbody {
        .ant-table-cell {
          text-align: center;

        }
      }
    }
  }
}