.container-sa{
  min-height: 412px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__text-america{
    text-align: justify;
    font-size: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    &--content{
      text-indent: 20px;
      margin-bottom: 10px;

      &::first-letter{
        font-size: 20px;
      }
    }

    h3{
      margin: 0;
      margin-bottom: 20px;
      font-size: 25px;
    }
  }

  .chartsame-predicted{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .chartsame{
      width: 1000px;
      display: flex;
      justify-content: center;
    }
    .chartsame-name{
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
  }
}